<div ...attributes>
  <div class="overlay enlarge-overlay">
    <div class="bg"></div>

    <div class="content">
      <div class="">
        {{#if enlargedImage}}
          <img src={{enlargedImage}} alt=""/>
        {{/if}}
      </div>
      <div class="buttons">
        <div class="button close">Close</div>
      </div>
    </div>
  </div>
</div>