<div ...attributes>
  <div class='menu'>
    <div class='bg'></div>
    {{! <img src="/assets/images/circle.svg" class="circle" alt=""/> }}
    <ul class='list'>
      <li class='nomovement'><a class='close' href='#!'><i class='fa fa-times-circle-o'></i></a></li>
      <li><LinkTo @route='index'>Home</LinkTo></li>
      <li><LinkTo @route='featured-piece'>Featured Piece</LinkTo></li>
      <li>
        <LinkTo @route='sign-in'>
          Sign in
        </LinkTo>
      </li>
      <li><LinkTo @route='my-collection'>My Collection</LinkTo></li>
      <li><LinkTo @route='galleries'>Browse Galleries</LinkTo></li>
      <li><LinkTo @route='marketplace'>Collector Marketplace</LinkTo></li>
      <li><a href='#!' {{action 'userLogout'}}>Logout</a></li>
      <li class='line nomovement'><a></a></li>
    </ul>
  </div>
</div>