<div class="description">
  <div class="container">
    <h1>FAQ's</h1>

    <div class="faq" onclick={{action "faqOpen"}}>
      <div class="question">
        <p>What do I need to use Hyro?</p>
        <img src="/assets/images/arrow.svg" alt="" />
      </div>
      <div class="answer">
        <p>
          It's easy! Here’s what you need to use Hyro:
        </p>
        <ul>
          <li>The desktop version of Chrome or Firefox</li>
          <li>MetaMask (a digital wallet used to interact with blockchain-based applications)</li>
          <li>Ether, a form of digital currency that powers Hyro</li>
        </ul>
      </div>
    </div>

    <div class="faq" onclick={{action "faqOpen"}}>
      <div class="question">
        <p>What is MetaMask?</p>
        <img src="/assets/images/arrow.svg" alt="" />
      </div>
      <div class="answer">
        <p>You can learn about MetaMask, and how to download the browser extension, below</p>
        <div>
          <!-- <iframe width="656" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs" frameborder="0" allowfullscreen></iframe> -->
        </div>
      </div>
    </div>

    <div class="faq" onclick={{action "faqOpen"}}>
      <div class="question">
        <p>How do I get Ether?</p>
        <img src="/assets/images/arrow.svg" alt="" />
      </div>
      <div class="answer">
        <p>In the United States you can purchase Ether (ETH) within Metamask.<br />
          For customers outside the U.S., you'll need to create an account on an exchange, purchase Ether, and then
          transfer that Ether into your MetaMask Wallet.
        </p>
      </div>
    </div>

    <div class="faq" onclick={{action "faqOpen"}}>
      <div class="question">
        <p>What happens after I buy a piece of art on Hyro?</p>
        <img src="/assets/images/arrow.svg" alt="" />
      </div>
      <div class="answer">
        <p>Once you purchase artwork, you own that digital work of art - nobody else can view, share, or print your
          piece of art! You can view your purchased art in Your Gallery, where you can also project artwork onto digital
          screens.</p>
      </div>
    </div>
  </div>
</div>