<div>
  <div class="description">
    <div class="container">
      <h1>You need Metamask to join</h1>
      <div>
        <a href="https://metamask.io/" class="button" target="_blank">Download</a>
      </div>
    </div>
  </div>

  {{metamask-faq}}
</div>