<div ...attributes>
  <div>
    <div class="description">
      <div class="container">
        <h1>You must be on the Rinkeby network</h1>
        <div>
          <img class="lozad small" src="/assets/images/rinkeby.gif"/>
        </div>
      </div>
    </div>

    {{metamask-faq}}
  </div>
</div>