<div ...attributes>
  <div>
    <div class="description">
      <div class="container">
        <h1>Your Metamask is Locked</h1>
        <h4>Open MetaMask and follow the instructions to unlock your wallet and start using Hyro</h4>
        <img class="lozad small" src="/assets/images/locked_s.jpg" alt="" style="border-radius: 50px" />
      </div>
    </div>

    {{metamask-faq}}
  </div>
</div>