<div class="overlay rareness-overlay">
<div class="bg"></div>
<div class="description">
    <div class="container">
    <h1>EDITION RARE SCORE</h1>
    <h3>COMING SOON</h3>
    <p>Each edition has a Rareness Score based on the likelihood of receiving a work of digital art with that rareness attribute.</p>
    <p>Rareness scores are probabilities across the entire HYRO platform, not within a particular release.  It is almost certain that rarer scores will not exist for every release.</p>
    <h3>The rareness categories are as follows:</h3>
    <div class="release">
        <p><span>Limited: </span><br/>~62.5% of<br/>editions</p>
        <p><span>Scarce : </span><br/>1 in 3.2<br/>editions</p>
        <p><span>Very Scarce : </span><br/>1 in 17<br/>editions</p>
        <p><span>Rare : </span><br/>1 in 273<br/>editions</p>
        <p><span>Very Rare : </span><br/>1 in 4,369<br/>editions</p>
        <p><span>Unique : </span><br/>1 in 65,536<br/>editions</p>
    </div>
    <p>The rareness score will be visible immediately after an edition is purchased and will always be associated with a token. Hyro Users will be able to see the rareness score associated with any edition listed for sale in the HYRO Marketplace.</p>
    </div>
    <div class="buttons">
    <a class="button close">Close</a>
    </div>
</div>
</div>