<div class='description'>
  <div class='container'>
    <h1>{{@model.name}}</h1>
    <p>{{@model.description}}</p>
  </div>
</div>

<ArtPiecePurchase @artPiece={{this.selectedPiece}} />

<ArtPieceCarousel @galleryPieces={{@model.galleryPieces}} />