<div class="description featured-piece-header">
  <div class="container">
    <h1>Featured Piece</h1>
    <h4>After purchasing you will receive an unscrambled hi-res version of this piece.<br/>
    <a class="info" {{action 'openInfoModal'}}>View additional gallery features</a></h4>
  </div>
</div>

{{art-piece-purchase art-piece=model}}