<div>
  <div class="hero">
    <div class="container">
      <div class="content" style="margin-bottom: 0">
        <h2>
          Your Gallery.
          <br />
          Digital Art.
          <br />
          Limited Editions.
        </h2>
        <h4>For the first time, artists and galleries can offer <i>truly</i> scarce digital art. It’s a new age for new
          media.</h4>
        {{#link-to "featured-piece" class="button"}}See Hyro In Action{{/link-to}}
      </div>
      <div class="img">
        <img src="/assets/images/droplet_s.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="hero what">
    <div class="container">
      <div class="img right">
        <img src="/assets/images/Dust2_s.jpg" alt="" />
      </div>
      <div class="content">
        <h1>What is Hyro</h1>
        <p>Since the emergence of New Media and Digital Art, collectors and the art community at large have struggled
          with the perceived lack of scarcity in digital art. This has made it difficult for most digital art to be
          collected and valued on the same level as physical artwork.</p>
        <p>Hyro is here to change that.</p>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <h1>Can Digital Art Be Rare?</h1>
      <p>Now it can. Hyro’s blockchain technology allows galleries and their artists to offer verifiably limited, rare
        releases of their digital art. When collectors buy digital artwork on Hyro, nobody can take, duplicate, destroy,
        or even view the artwork except for that collector. It’s just like collecting a limited edition print, but for
        digital artwork.</p>
    </div>
  </div>

  <div class="description images">
    <div class="img nobackground"><img src="/assets/images/orange_s.jpg" alt="" /></div>
    <div class="img nobackground"><img src="/assets/images/pyramid_s.jpg" alt="" /></div>
    <div class="img nobackground"><img src="/assets/images/spiral_s.jpg" alt="" /></div>
  </div>

  <div class="description">
    <div class="container">
      <h1>Anything Else?</h1>
      <p>
        Hyro is building a network of established, mid-stage, and emerging new media and digital artists and helping
        them set up online portfolios of their limited release digital art. As a member gallery, you’ll have access to
        these portfolios so you can discover emerging talent.
      </p>
      <p>
        <strong>
          It’s time to build a great community for collecting, discovering and promoting digital art, and we’d love for
          you to join the movement.
        </strong>
      </p>
      {{#link-to "featured-piece" class="button"}}See Hyro In Action{{/link-to}}
    </div>
  </div>
</div>