<div class='description'>
  <div class='container'>
    <h1>My Collection</h1>
    <p>
      Welcome to your personal Hyro Gallery. All of your unique, digital artwork is stored here and belongs only to you.
      We're always working on ways to help you enjoy your art, so check back frequently. In the meantime, keep building
      your collection!
    </p>

    <div class='gallery-buttons'>
      <LinkTo @route='offers' class='button'>My Current Listings</LinkTo>
      <LinkTo @route='transactions' class='button'>Transactions</LinkTo>
    </div>
  </div>
</div>

{{#each @model as |edition|}}
  <CollectionItem @edition={{edition}} />
{{/each}}

<div class='description'>
  <div class='container'>
    <h1>Featured Piece</h1>
    <p>Want to keep building your collection? View our currently available digital artwork now!</p>
    <LinkTo @route='featured-piece' class='button'>View Artwork</LinkTo>
  </div>
</div>

{{! <div class='overlay print-overlay'>
  <div class='bg'></div>
  <div class='description'>
    <div class='container'>
      <h1>PRINT & BURN</h1>
      <h3>COMING SOON</h3>
      <p>When you own a token representing digital art, you have the option to "Print & Burn". This will allow you to
        create a physical edition of the artwork, framed and printed at museum-quality and shipped directly to you.</p>
      <p>By placing an order to print a physical edition of your artwork, you'll initiate a 'burn' of your token. This
        means that you will no longer own the digital copy and will no longer be able to sell or transfer the digital
        edition on the Hyro Marketplace.</p>
    </div>
    <div class='buttons'>
      <a class='button close'>Close</a>
    </div>
  </div>
</div> }}
{{!-- 
<CertificateOverlay />

<div class='overlay artist-message-overlay'>
  <div class='bg'></div>
  <div class='content'>
    <p class='big'>Message from the artist</p>
    <p>Placeholder text to be filled in with artist's message</p>
    <div class='buttons'>
      <a class='button close'>Close</a>
    </div>
  </div>
</div>

<EnlargeOverlay />

{{#if isShowingOfferModal}}
  {{offer-modal isShowingOfferModal=isShowingOfferModal editionOffered=editionOffered artPiece=pieceOffered}}
{{/if}} --}}