<div id="order-pending">
  <div class="description">
    <div class="container">
      <h1>Congratulations!  Your Digital Art Order Is Pending!</h1>
      <br/>
      <br/>
      <a href="#!" class="button margin facebook">Share on Facebook</a>
      <a href="#!" class="button margin twitter">Share on Twitter</a>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <p>We're currently confirming your transaction.  Please wait a few minutes and then check your gallery for your new artwork.</p>
      {{#link-to "my-collection" class="button"}}View My Collection{{/link-to}}
      <a href={{ethscanLink}} target="_blank" class = "button">View on Etherscan</a>
    </div>
  </div>
</div>